.index-contact {
  color: $offwhite-colour;
  p {
    color: $offwhite-colour;
  }
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
  .contact {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    form {
      position: relative;
    }
  }
  input,
  textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    resize: none;
  }
  .contact-left-column {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    .email {
      a {
        color: $pink-colour;
        font-size: 0.8em;
      }
    }
    .social {
      div {
        display: flex;
        justify-content: left;

        @media (max-width: 576px) {
          justify-content: center;
        }

        img {
          margin: 0 1rem;
          filter: invert(1);
        }
      }
    }
    .image {
      grid-column: 1 / span 2;
      background-size: cover;
      background-position: center;
      background-image: url("/assets/img/interior/img-interior01.jpg");
      height: 10rem;
    }
  }

  @media (max-width: 576px) {
    text-align: center;

    .contact-left-column {
      display: block;
      div {
        margin: 1rem 0;
      }
    }

    .contact {
      display: block;
    }
  }
}
