.footer {
  margin-top: 5rem;
  background: $offblack-colour;
  color: $offwhite-colour;
  bottom: 0;
  font-family: Font-Awesome;
  img {
    width: 20%;
    filter: brightness(5);
  }
  .footer-inner {
    padding: 2rem 0;
    margin: auto;
    text-align: center;
  }

  @media (max-width: 576px) {
    margin-top: 0;

    img {
      width: 50%;
    }
  }
}
