.nav-main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: $maxWidth;
  background: $offwhite-colour;
  font-family: Font-Awesome;
  padding: 2rem 0;
  top: 0;
  z-index: 2;
  position: relative;

  svg {
    margin-left: 1rem;
    margin-top: 0.1rem;
    cursor: pointer;

    path {
      fill: $pink-dark-colour;
    }
  }

  .index-logo {
    width: 231px;
    height: 96px;
  }
  .nav-bar {
    color: $pink-dark-colour;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    padding: 0.5rem;
    li {
      margin-left: 2rem;
      list-style-type: none;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    display: block;

    .index-menu {
      position: absolute;
      right: 0;
    }

    .nav-bar {
      display: block;
      text-align: right;
      position: absolute;
      top: 5rem;
      background: $offwhite-colour;
      padding-right: 1rem;
      padding-bottom: 1rem;
      box-shadow: 2px 2px 5px $pink-dark-colour;

      &.nav-bar-anim1 {
        right: -10rem;
        transition: all 500ms;
      }
      &.nav-bar-anim2 {
        right: 1rem;
        transition: all 500ms;
      }

      li {
        margin-top: 1rem;
      }
    }
  }
}
