.nav-main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: $maxWidth;
  background: $offwhite-colour;
  font-family: Font-Awesome;
  padding: 2rem 0;
  .index-logo {
    width: 20%;
  }
  .nav-bar {
    color: $pink-dark-colour;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    padding: 0.5rem;
    li {
      margin-left: 2rem;
      list-style-type: none;
    }
  }
}
