$base-font-url: "/assets/fonts/";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Alice";
  font-style: normal;
  font-display: swap;
  src: url(#{$base-font-url}Alice-Regular.ttf);
}
@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-display: swap;
  src: url(#{$base-font-url}fontawesome-webfont.woff);
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(https://res.cloudinary.com/seijihg/raw/upload/v1567937360/lady_bug_air/fonts/helveticaneue/HelveticaNeueMed_grmzjq.ttf);
}
