$offwhite-colour: #fafafa;
$offblack-colour: #0a0a0a;
$gray-colour: #f4f4f4;
$dark-gray-colour: #9b9b9b;
$pink-colour: #f2a69a;
$pink-dark-colour: #99525d;
$maxWidth: 1200px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: var(--offwhite-colour);
  font-size: 16px;
  line-height: 1.5;

  p {
    font-size: 0.85em;
    color: $dark-gray-colour;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: Alice;
    font-weight: 200;
    letter-spacing: 0.1em;
  }
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.8em;
  }
  h4 {
    font-size: 0.7em;
  }

  input,
  textarea {
    padding: 0.5rem;
    font-family: Alice;
    font-size: 0.75em;
    border-radius: 5px;
    border: 1px;

    &:focus,
    &:focus {
      box-shadow: 0 0 0 1px $pink-dark-colour;
      outline: none;
    }
  }

  button {
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms;
    color: $pink-dark-colour;
    border-style: none;

    &:hover {
      background: $pink-colour;
      color: $offwhite-colour;
      transition: all 250ms;
    }
  }
  .error {
    color: red;
  }
}

@import "./fonts.scss";

// -->> PAGES

@import "./index.scss";

// <<-- END PAGES

// -->> COMPONENTS

@import "./Nav";
@import "./Layout";
@import "./Footer";
@import "./Contact";
@import "./ImageSlides";
@import "./newsBlogs.scss";
@import "./loaders.scss";
@import "./profile.scss";
