$offwhite-colour: #fafafa;
$offblack-colour: #0a0a0a;
$gray-colour: #f4f4f4;
$pink-colour: #d75fa3;
$maxWidth: 1200px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: var(--offwhite-colour);
  font-size: 16px;
  line-height: 1.5;
  p {
    font-size: 0.8em;
  }
  h1 {
    font-size: 1.3em;
    font-family: Alice;
    font-weight: 200;
    letter-spacing: 0.1em;
  }
  h2 {
    font-size: 1em;
    font-family: Alice;
    font-weight: 100;
    letter-spacing: 0.1em;
  }
}
@import "./fonts.scss";
@import "./Nav";
@import "./Layout";
@import "./index.scss";
