@function set-border-colour($color) {
  @if (lightness($color) > 50) {
    @return $pink-dark-colour;
  } @else {
    @return $offwhite-colour;
  }
}

.sub-page-news,
.sub-page-blogs {
  position: relative;

  .left-column {
    padding: 1rem;
    flex: 3;
    background: $gray-colour;

    h4 {
      margin-bottom: 2rem;
      color: $pink-colour;
    }
    .new-content {
      margin-bottom: 2rem;
    }
  }
  .right-column {
    padding: 1rem;
    background: $pink-dark-colour;
    margin-left: 2rem;
    color: $offwhite-colour;
    flex: 1;

    h3 {
      color: $pink-colour;
    }

    li {
      list-style: none;
      margin-bottom: 1rem;
    }
  }

  .left-h1,
  .right-h1 {
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }

  .left-h1 {
    border-color: set-border-colour($gray-colour);
  }
  .right-h1 {
    border-color: set-border-colour($pink-dark-colour);
  }

  @media (max-width: 576px) {
    .right-column {
      position: absolute;
      visibility: hidden;
    }
  }
}

.main-new-blog-page {
  margin: auto;
  max-width: $maxWidth;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding-top: 2rem;
  border-color: $pink-dark-colour;
  min-height: 100vh;

  @media (max-width: 36rem) {
    padding: 1rem 1rem;
  }

  form {
    margin: 2rem 0;
    position: relative;
  }

  input {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
  }

  h3 {
    color: $pink-colour;
  }
  h1 {
    margin-bottom: 2rem;
  }

  button {
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms;
    color: $offwhite-colour;
    border-style: none;
    background: $dark-gray-colour;
    position: absolute;
    right: 0;
    bottom: 0;

    &:hover {
      background: $pink-colour;
      color: $offwhite-colour;
      transition: all 250ms;
    }
  }

  .button-comments-likes {
    margin-top: 1rem;
    border: solid $pink-dark-colour;
    border-width: 1px 0 1px 0;
    padding: 0.5rem 0;

    .comment-block {
      display: flex;
      cursor: pointer;
      margin-top: 0.3rem;

      h2 {
        margin: 0;
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .comment-tab {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background: $dark-gray-colour;
    p {
      color: $offwhite-colour;
    }
  }
}

.news-and-blogs-wp-format {
  p {
    margin: 0.75rem 0;
  }

  a {
    color: $pink-colour;
    transition: all 250ms;

    &:hover {
      color: $pink-dark-colour;
      transition: all 250ms;
    }
  }
  
  .wp-block-image {
    margin: 1rem 0;
    text-align: center;

    img {
      padding: 2rem;
      text-align: center;
      width: 100%;
      height: auto;
    }
  }

  blockquote {
    font-style: italic;
  }

  .has-background-dim {
    background-size: cover;
    background-position: center;
    p {
      backdrop-filter: brightness(50%);
      padding: 2rem;
    }
  }

  .wp-block-cover {
    margin: 1rem 0;

    p {
      color: white;
    }
  }

  .has-text-align-center {
    text-align: center;
  }

  .has-text-align-right {
    text-align: right;
  }

  .has-small-font-size {
    font-size: 0.7em;
  }

  .has-medium-font-size {
    font-size: 1.5em;
  }

  .has-large-font-size {
    font-size: 2em;
  }

  .has-huge-font-size {
    font-size: 2.5em;
  }

  .wp-block-media-text {
    display: flex;

    .wp-block-media-text__content {
      margin-left: 1rem;
    }
  }

  .has-media-on-the-right {
    .wp-block-media-text__content {
      order: 0;
      margin: 0;
    }
    .wp-block-media-text__media {
      order: 1;
      margin-left: 1rem;
    }
  }

  figcaption {
    text-align: center;
    font-size: 0.85em;
    color: $pink-colour;
  }
}
