.profile {
  margin: auto;
  width: $maxWidth;
  display: flex;

  .left-side {
    width: 20%;
    margin-right: 2rem;
    // background: $pink-dark-colour;

    img {
      width: 150px;
      clip-path: circle(75px at center);
    }
  }

  .right-side {
    padding: 1rem;
    width: 100%;
    background: $dark-gray-colour;
    h1 {
      color: $offwhite-colour;
    }

    h2 {
      color: $pink-colour;
    }
    input {
      &:focus {
        border: 2px solid $pink-dark-colour;
      }
    }
    .basic-select {
      font-family: Alice;
    }
  }

  @media (max-width: 36rem) {
    padding: 1rem 1rem;
    width: 100%;
    flex-direction: column;

    div:first-child {
      width: 100%;
    }
  }
}
