.reset-pass-main {
  .top-h1 {
    border: solid $dark-gray-colour;
    border-width: 0 0 1px 0;
    padding-bottom: 2rem;
    margin-bottom: 1rem;

    h1 {
      max-width: $maxWidth;
      margin: auto;
    }
  }

  .change-password {
    max-width: $maxWidth;
    margin: auto;

    .error-box,
    .error {
      color: red;
    }
    .error-box {
      padding: 0.5rem 0;
      margin: 1rem 0;
    }

    form {
      margin-bottom: 2rem;
      input {
        margin: 0.5rem 0;
        width: 18rem;
        padding: 1rem;
      }

      button {
        margin-top: 1rem;
        padding: 0.75rem 3rem;
      }
    }

    .go-back {
      display: flex;
      margin-top: 1rem;
      color: $pink-dark-colour;

      svg {
        path {
          fill: $pink-dark-colour;
        }
      }
    }
  }
}
